.animate {
    transition: all 1.25s ease-in-out;
}

.animate.show {
    opacity: 1;
}

.animate.hide {
    opacity: 0;
    transition: all .75s 0.75s ease-in-out;
}

.animate.right.hide {
    transform: translateX(-30svw);
}

.animate.left.hide {
    transform: translateX(30svw);
}

.animate.right.show {
    transform: translateX(0svw);
}

.animate.left.show {
    transform: translateX(0svw);
}

.animate.up.hide {
    transform: translatey(30svw);
}

.animate.up.show {
    transform: translatey(0svw);
}